@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* background: #f6f5f7; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	/* margin: -20px 0 50px; */
	background: linear-gradient(to right, #FF4B2B, #FF416C);
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}


form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	/* height: 80%; */
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	border-radius: 15px;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

input[type=submit] {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

input[type=submit]:active {
	transform: scale(0.95);
}

input[type=submit]:focus {
	outline: none;
}

input[type=submit].ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

p {
	color:#FF4B2B;
}